/* Basic style */
body {
    background-color:rgb(221, 189, 166);
    width: 100%;
    font-family: 'Libre Franklin';
    color: #445361;
    text-align: center;
}

/* Heading */
.title {
    color:#445361;
    font-size: 30px;
    padding: 25px 25px;
    float: center;
}

.HowToPlayButton {
  padding: 25px 25px;
  float: center;
}
/* The Modal */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
     }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 10px;
    border: 1px solid rgb(243, 243, 81);
    width: 25%; 
  }
#myBtn {

    border: 2px solid rgb(243, 243, 81);
    font-size: 15px;
  }
  
  .close {
    color: #888;
    float: center;
    font-size: 15px;
    font-weight: bold;
  }
  
  .close:hover,.close:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;
  }
  
/* Game layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-grid{
  width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 }

 
.bikecard {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.bikecard.flip {
  transform: rotateY(180deg);
}

.bikecard.active {
  transform: scale(.97);
  transition: transform .5s;
}

img {
  width: 100px;
}

.front-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid red;
  border-radius: 25px;
}
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid yellow;
  border-radius: 25px;
}

.front-face {
  transform: rotateY(180deg);
}


/**score and time area*/
.score-area {
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    padding: 25px;
  }

#moves {
    color: green;
    font-weight: bold;
}

#time {
    display:block;
    position: relative;
    color: red;
    font-weight: bold;
}
