/* Basic style */
body {
    background-color:rgb(221, 189, 166, 0.6);
    width: 100%;
    font-family: 'Libre Franklin';
    color: #16181a;
    text-align: center;
}

/* Heading */
.title {
    color:#16181a;
    font-size: 30px;
    padding: 25px 25px 25px 25px;
    text-align: center;
}

.HowToPlayButton {
  padding: 25px 25px 25px 25px;
  float: center;
  cursor:pointer;
}
/* The Modal */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
     }
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 10px;
    border: 1px solid rgb(243, 243, 81);
    width: 25%; 
  }
#myBtn {
    border: 2px solid rgb(243, 243, 81);
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    cursor:pointer;
  }
  
  .close {
    color: #888;
    float: center;
    font-size: 15px;
    font-weight: bold;
  }
  
  .close:hover,.close:focus {
    color: red;
    text-decoration: none;
    cursor:pointer;
  }
  
/* Game layout */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-grid{
  width: 450px;
  height: 450px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
 }
 
.bikecard {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.bikecard.flip {
  transform: rotateY(180deg);
}

.bikecard.active {
  transform: scale(.97);
  transition: transform .5s;
}

img {
  width: 100px;
}

.face-up  {  
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  display: inline-block;
  position: absolute;
  border-radius: 8px;
  border: 1px solid red;
}

.face-down {
  height: 100%;
  width:100%;
  background-position: center;
  background-size: contain;
  border-radius: 8px;
  border: 1px solid yellow;
  z-index: 1;
  background-image: url(../images/Helmet.jpg);
  }

/**score and time area*/
  #match-it {
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor:pointer;
  }

  #count-down {
    font-size: 25px;
    color: red;
  }

  /** "lets do this again" button*/
  #reset {
    border: 2px solid rgb(243, 243, 81);
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor:pointer;
	}
  
  /*footer*/
  .created-by{
    font-size: 15px;
    padding: 10px 10px 10px 10px;

  }
  /* For media medium size screen sizes from 480px wide and dows*/
  
  @media (max-width: 480px) {

    .title{
      font-size: 20px;
      text-align: center;
      padding: 5px 5px 5px 5px;
  
    }

    .game-grid {
      margin: 5px 5px 5px 5px;
      grid-gap: -10px;
      display:-ms-grid;
             }

    #reset {
      font-size: 15px;
      width: 9rem;
      height: 3rem;
      padding: 0;
    }

    .bikecard {
      width: 75px;
      height: 75px;
   
    }
    #score-area {
      margin: 10px 10px 10px 10px;

    }
  


    .HowToPlayButton {
      text-align: center;  
      font-size: 15px;
      
      }
    }